<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="First test">
    <classes>
          <class name="com.one"/>
           </classes>
  </test> <!-- Test -->  
  
  <test name="second test">
    <classes>
          <class name="com.two"/>
           </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
